
		<section class="main-slider" id="homee">
			<div class="container">
				<div id="rev_slider_476_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="christmas-snow-scene" data-source="gallery" style="background-color:transparent;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
					<div id="rev_slider_476_1" class="rev_slider fullscreenbanner .parallax-overlay .parallax-overlay-1" style="display:none;" data-version="5.3.0.2">
						<ul >	
							<!-- SLIDE  -->
							<li data-index="rs-1648" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="images/slider_banner.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->

								<img src="<%= asset_url('img9.jpg') %>" data-bgrepeat="no-repeat" data-bgparallax="3" class= " rev-slidebg" data-no-retina />

								<!-- LAYERS -->
								<!-- LAYER NR. 2 -->
								<div class="tp-caption hd1  tp-resizeme" 
									id="slide-1648-layer-2" 
									data-x="left" data-hoffset="50" 
									data-y="center" data-voffset="-35" 
									data-width="['auto']"
									data-height="['auto']"
									data-type="text" 
									data-responsive_offset="on" 
							 		data-transform_in="x:[0];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:2000;e:Power3.easeOut;" 
								 	data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
								 	data-mask_in="x:[0];y:0;s:inherit;e:inherit;"  
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-start="200"
									data-splitin="chars"
									data-splitout="none"
									data-elementdelay="0.06"
									style="font-family: 'Raleway'; font-size: 60px; color: #fff; font-weight: 400; letter-spacing: 0.7px; line-height: 1.2">WE PROVIDE STUNNING SOLUTION<br />
									</div>

								<!-- LAYER NR. 4 -->
								 <a href="#aboutt" title="" class="tp-caption hl-links layer3 tp-resizeme"
									id="slide-1-layer-4"
									data-x="left" data-hoffset="60"
									data-y="center" data-voffset="110"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;" 
									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
									data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									data-start="1500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									data-elementdelay="0.05"
									style="font-size: 18px; font-family: 'Open Sans'; font-weight: 600; padding: 15px 30px; text-transform: uppercase; border-radius: 30px;">Read More
								</a>
								<!-- LAYER NR. 5 -->
								<a href="#contactt" title="" class="tp-caption hl-links layer3 tp-resizeme"
									id="slide-1-layer-5"
									data-x="left" data-hoffset="240"
									data-y="center" data-voffset="110"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;" 
									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
									data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									data-start="1500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									data-elementdelay="0.05"
									style="font-size: 18px; font-family: 'Open Sans'; font-weight: 600; padding: 15px 30px; text-transform: uppercase; border-radius: 30px;">Contact Us
								</a>
							</li>
							<li data-index="rs-1649" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="images/slider_banner.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="<%= asset_url('img10.jpg') %>" data-bgrepeat="no-repeat" data-bgparallax="3" class= " rev-slidebg" data-no-retina />
								<!-- LAYERS -->
								<!-- LAYER NR. 7 -->
								<div class="tp-caption hd1 tp-resizeme" 
									id="slide-1648-layer-7" 
									data-x="right" data-hoffset="50" 
									data-y="center" data-voffset="-30" 
									data-width="['auto']"
									data-height="['auto']"
									data-type="text" 
									data-responsive_offset="on" 
							 		data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;" 
									data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									data-start="100"
									data-textAlign="['right','right','right','right']"
									data-splitin="chars"
									data-splitout="none"
									data-elementdelay="0.04"
									style="font-family: 'Raleway'; font-size: 60px; font-weight: 400; letter-spacing: 0.7px; line-height: 1.2">WE PROVIDE STUNNING SOLUTION <br />
									</div>

								<!-- LAYER NR. 9 -->
								<a href="#aboutt" title="" class="tp-caption hl-links layer3 tp-resizeme"
									id="slide-1-layer-9"
									data-x="right" data-hoffset="250"
									data-y="center" data-voffset="110"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;" 
									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
									data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									data-start="1500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									data-elementdelay="0.05"
									style="font-size: 18px; font-family: 'Open Sans'; font-weight: 600; padding: 15px 30px; text-transform: uppercase;border-radius: 30px;">Read More
								</a>
								<!-- LAYER NR. 10 -->
								<a href="#contactt" title="" class="tp-caption hl-links layer3 tp-resizeme"
									id="slide-1-layer-10"
									data-x="right" data-hoffset="50"
									data-y="center" data-voffset="110"
									data-width="['auto','auto','auto','auto']"
									data-height="['auto','auto','auto','auto']"
									data-transform_idle="o:1;" 
									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
									data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									data-start="1500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									data-elementdelay="0.05"
									style="font-size: 18px; font-family: 'Open Sans'; font-weight: 600; padding: 15px 30px; text-transform: uppercase; border-radius: 30px;">Contact Us
								</a>
							</li>
						</ul>
					</div>
				</div><!--Revolution Slider end-->
			</div>
		</section><!--main-slider end-->

		<div class="content">
			<section class="services pd" id="servicess">
				<div class="container">
					<div class="heading">
						<h2>Services</h2>
					</div><!--heading end-->
					<div class="services-tab">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
						    <li class="active"><a href="#mobile" role="tab" data-toggle="tab"><span class="icon-mobile">
                 		 <i class="fa fa-pencil-square-o" aria-hidden="true"></i>

						    </span></a></li>
						    <li><a href="#presentation" role="tab" data-toggle="tab"><span class="icon-presentation">
						    	<i class="fa fa-cogs" aria-hidden="true"></i>
						    </span></a></li>
						    <li><a href="#gears" role="tab" data-toggle="tab"><span class="icon-gears">
						    <i class="fa fa-mobile " aria-hidden="true"></i>
						    </span></a></li>
						    <li><a href="#envelope" role="tab" data-toggle="tab"><span class="icon-envelope">
						    <i class="fa fa-filter" aria-hidden="true"></i>
						    </span></a></li>
						    <li><a href="#tools"  role="tab" data-toggle="tab"><span class="icon-tools">
						    <i class="fa fa-meetup" aria-hidden="true"></i>
						    </span></a></li>
						    <li><a href="#circle" role="tab" data-toggle="tab"><span class="icon-circle-compass">
						    	 <i class="fa fa-picture-o " aria-hidden="true"></i>
						    </span></a></li>
						    <li><a href="#lightbulb" role="tab" data-toggle="tab"><span class="icon-lightbulb"><i class="fa fa-desktop" aria-hidden="true"></i>
</span></a></li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
						   <div role="tabpanel" class="tab-pane active" id="mobile">
						    	<div class="service_content">
						    		<div class="cnt-data">
										<span class="icon-mobile"></span>
										<h3>Website design</h3>
										<p>We offer the latest web technology with exceptional server configuration best suited for your website and hosting plans.</p>
									</div>
								</div><!--service_content-->
						   </div>
						   <div role="tabpanel" class="tab-pane" id="presentation">
						    	<div class="service_content">
						    		<div class="cnt-data">
										<span class="icon-presentation"></span>
										<h3>Web Applications</h3>
										<p>Our web development services includes Dynamic Website, Ecommerce development, Static Website, Business Portfolio</p>
									</div>
								</div><!--service_content-->
						   </div>
						   <div role="tabpanel" class="tab-pane" id="gears">
						    	<div class="service_content">
						    		<div class="cnt-data">
										<span class="icon-gears"></span>
										<h3>Mobile App Development</h3>
										<p>Our quick solutions enable clients to receive reliable mobile app which is user friendly and can operate virtually.</p>
									</div>
								</div><!--service_content-->
						   </div>
						   <div role="tabpanel" class="tab-pane" id="envelope">
						    	<div class="service_content">
						    		<div class="cnt-data">
										<span class="icon-envelope"></span>
										<h3>SEO & SMO Services</h3>
										<p>We have a very strategic approach to Digital Marketing and consider all the different ways to grow brands and drive sales online.</p>
									</div>
								</div><!--service_content-->
						   </div><!--tab-penel end-->
						   <div role="tabpanel" class="tab-pane" id="tools">
						    	<div class="service_content">
						    		<div class="cnt-data">
										<span class="icon-tools"></span>
										<h3>Start Up Consulting – Business / MVP</h3>
										<p>MVP (Minimum Viable Product) is a technique in which a website is developed with features to satisfy the customers.ZadP helps the new startups to build their website and validate their idea in the market.</p>
									</div>
								</div><!--service_content-->
						   </div><!--tab-penel end-->
						   <div role="tabpanel" class="tab-pane" id="circle">
						    	<div class="service_content">
						    		<div class="cnt-data">
										<span class="icon-circle-compass"></span>
										<h3>Brand Management</h3>
										<p>ZadP uses special techniques in order to increase the value of a product.ZadP helps in identifying the core value of a particular brand and reflecting the core value among the targeted customers.</p>
									</div>
								</div><!--service_content-->
						   </div><!--tab-penel end-->
						   <div role="tabpanel" class="tab-pane" id="lightbulb">
						    	<div class="service_content">
						    		<div class="cnt-data">
										<span class="icon-lightbulb"></span>
										<h3>Website Hosting</h3>
										<p> We offer the latest web technology with exceptional server configuration best suited for your website and hosting plans.</p>
									</div>
								</div><!--service_content-->
						   </div><!--tab-penel end-->
						</div><!--tab-content end-->

					</div><!--services-tab end-->	
				</div>
			</section><!--services end-->

			<section class="why-choose-us" id="aboutt">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="srvc-data">
								<div class="helix-srvc-left">
									<div class="our-services">
										<div class="service-border">
										<div class="service-details" style="padding-left: 55px;">
											<div class="heading ta-left">
												<h2 class="pd-btm">How About Zadp</h2>
												<p>Zadp is a software solutions company based in Bangalore. We specialize in web designing, web development, ecommerce website development, mobile app development, SEO and SMO Services. The expert group helps businesses to succeed in this demanding world. We are committed to help you with your ideas. The services we provide at Zadp will exceed customer expectations and produce faster returns.</p>
											</div><!--heading end-->
											<h3>Why Choose Us?</h3>
											<ul class="first">

												<p class="z-first">Zadp never compromises on quality and standard, follows the time lines given. The major reason to choose us is we give free website and it is tailor made, we can customize the website as per your need. We ensure that each customer receives maximum focus.</p>
											</ul>
										</div>
										</div>
									</div><!--Our services end-->
								</div>
								<div class="helix-srvc-right">
									<div class="srvc-img">
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section><!-- why-choose-us end-->

			<!-- <section class="work-flow pd">
				<div class="container">
					<div class="heading">
						<h2 class="pd-btm">See our work flow</h2>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris<br /> nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="facts-figures">
						<div class="row">
							<div class="col-md-3">
								<div class="fact-counter">
									<span class="icon-calendar"></span>
									<h3 class="count">10</h3>
									<h5>Year of Experience</h5>
								</div>
							</div>
							<div class="col-md-3">
								<div class="fact-counter">
									<span class="icon-profile-male"></span>
									<h3 class="count">125</h3>
									<h5>Experience Team</h5>
								</div>
							</div>
							<div class="col-md-3">
								<div class="fact-counter">
									<span class="icon-heart"></span>
									<h3 class="count">256</h3>
									<h5>Happy Clients</h5>
								</div>
							</div>
							<div class="col-md-3">
								<div class="fact-counter">
									<span class="icon-trophy"></span>
									<h3 class="count">150</h3>
									<h5>Our Words</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> -->

			<!-- <section class="gallery pd remove-btm-pd" id="workk">
				<div class="container-fluid">
					<div class="heading">
						<h2>Our Work</h2>
					</div>
					<section class="options">
						<div class="option-isotop">
							<ul id="filter" class="option-set filters-nav" data-option-key="filter">
								<li><a class="selected" data-option-value="*">All</a></li>
								<li><a data-option-value=".branding">Web Development</a></li>
								<li><a data-option-value=".design">Design</a></li>
								<li><a data-option-value=".graphics">Mobile Development</a></li>
								<li><a data-option-value=".photography">Seo service</a></li>
								<li><a data-option-value=".development">Web hosting</a></li>
							</ul>
						</div>
					</section>
					<div class="row">
						<div class="masonary">
							<div class="col-md-3 col-sm-6 col-xs-12 branding">
								<figure>
									<img src="images/img1.jpeg" alt="portfolio img">
									<figcaption>
										<h3>Web Development</h3>
									</figcaption>
								</figure>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12 design">
								<figure>
									<img src="images/img2.jpeg" alt="portfolio img">
									<figcaption>
										<h3>Web Design </h3>
									</figcaption>
								</figure>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12 graphics">
								<figure>
									<img src="images/img3.jpg" alt="portfolio img">
									<figcaption>
										<h3>Mobile Development</h3>
									</figcaption>
								</figure>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12 photography">
								<figure>
									<img src="images/img4.jpg" alt="portfolio img">
									<figcaption>
										<h3>Seo Service</h3>
									</figcaption>
								</figure>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12 development">
								<figure>
									<img src="images/img8.jpeg" alt="portfolio img">
									<figcaption>
										<h3>Web Hosting</h3>
									</figcaption>
								</figure>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12 branding">
								<figure>
									<img src="http://creativethemes.us/helix/images/resources/img6.jpg" alt="portfolio img">
									<figcaption>
										<h3>Designing</h3>
									</figcaption>
								</figure>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12 photography">
								<figure>
									<img src="http://creativethemes.us/helix/images/resources/img7.jpg" alt="portfolio img">
									<figcaption>
										<h3>Designing</h3>
									</figcaption>
								</figure>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12 development">
								<figure>
									<img src="images/img7.jpg" alt="portfolio img">
									<figcaption>
										<h3>Website Hosting</h3>
									</figcaption>
								</figure>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="ready-to-work">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-1">
							<h3>Are you ready to work with us?</h3>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<a href="#" title="">Start a project</a>
						</div>
					</div>
				</div>
			</section> --><!-- ready-to-work end-->

			<!-- <section class="expertise" id="teamm">
				<div class="container">
					<div class="expert-list">
						<div class="heading">
							<h2 class="pd-btm">Expert team</h2>
							<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris<br /> nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						<div class="row">
							<ul class="tabs2">
								<li class="col-md-2 tab" data-tab="tab-11"><img src="http://creativethemes.us/helix/images/resources/expert1.jpg" alt="expert img"></li>
								<li class="col-md-2 tab current" data-tab="tab-22"><img src="http://creativethemes.us/helix/images/resources/expert2.jpg" alt="expert img"></li>
								<li class="col-md-2 tab" data-tab="tab-33"><img src="http://creativethemes.us/helix/images/resources/expert3.jpg" alt="expert img"></li>
								<li class="col-md-2 tab" data-tab="tab-44"><img src="http://creativethemes.us/helix/images/resources/expert4.jpg" alt="expert img"></li>
								<li class="col-md-2 tab" data-tab="tab-55"><img src="http://creativethemes.us/helix/images/resources/expert5.jpg" alt="expert img"></li>
							</ul>							
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="tab-content2" id="tab-11">
						<div class="row">
							<div class="full-width-sec">
								<div class="half-left">
									<div class="expert-details">
										<h3>Soro Labor</h3>
										<span>Projects Manager</span>
										<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
										<ul class="social-links">
											<li><a href="#" title=""><span class="icon-facebook"></span></a></li>
											<li><a href="#" title=""><span class="icon-googleplus"></span></a></li>
											<li><a href="#" title=""><span class="icon-linkedin"></span></a></li>
											<li><a href="#" title=""><span class="icon-twitter"></span></a></li>
											<li><a href="#" title=""><span class="icon-tumblr"></span></a></li>
										</ul>
										<a href="#" title="">Read More</a>
									</div>
								</div>
								<div class="half-right">
									<img src="http://creativethemes.us/helix/images/resources/expert-img1.jpg" alt="expert imgg">
								</div>
							</div>
						</div>
					</div>
					<div class="tab-content2 current" id="tab-22">
						<div class="row">
							<div class="full-width-sec">
								<div class="half-left">
									<div class="expert-details">
										<h3>Nata Labor</h3>
										<span>Projects Manager</span>
										<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
										<ul class="social-links">
											<li><a href="#" title=""><span class="icon-facebook"></span></a></li>
											<li><a href="#" title=""><span class="icon-googleplus"></span></a></li>
											<li><a href="#" title=""><span class="icon-linkedin"></span></a></li>
											<li><a href="#" title=""><span class="icon-twitter"></span></a></li>
											<li><a href="#" title=""><span class="icon-tumblr"></span></a></li>
										</ul>
										<a href="#" title="">Read More</a>
									</div>
								</div>
								<div class="half-right">
									<img src="http://creativethemes.us/helix/images/resources/expert-img2.jpg" alt="expert imgg">
								</div>
							</div>
						</div>
					</div>tab-content2 end
					<div class="tab-content2" id="tab-33">
						<div class="row">
							<div class="full-width-sec">
								<div class="half-left">
									<div class="expert-details">
										<h3>Mel Labor</h3>
										<span>Projects Manager</span>
										<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised.f you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
										<ul class="social-links">
											<li><a href="#" title=""><span class="icon-facebook"></span></a></li>
											<li><a href="#" title=""><span class="icon-googleplus"></span></a></li>
											<li><a href="#" title=""><span class="icon-linkedin"></span></a></li>
											<li><a href="#" title=""><span class="icon-twitter"></span></a></li>
											<li><a href="#" title=""><span class="icon-tumblr"></span></a></li>
										</ul>
										<a href="#" title="">Read More</a>
									</div>
								</div>
								<div class="half-right">
									<img src="http://creativethemes.us/helix/images/resources/expert-img3.jpg" alt="expert imgg">
								</div>
							</div>
						</div>
					</div>
					<div class="tab-content2" id="tab-44">
						<div class="row">
							<div class="full-width-sec">
								<div class="half-left">
									<div class="expert-details">
										<h3>John Doe</h3>
										<span>Projects Manager</span>
										<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
										<ul class="social-links">
											<li><a href="#" title=""><span class="icon-facebook"></span></a></li>
											<li><a href="#" title=""><span class="icon-googleplus"></span></a></li>
											<li><a href="#" title=""><span class="icon-linkedin"></span></a></li>
											<li><a href="#" title=""><span class="icon-twitter"></span></a></li>
											<li><a href="#" title=""><span class="icon-tumblr"></span></a></li>
										</ul>
										<a href="#" title="">Read More</a>
									</div>
								</div>
								<div class="half-right">
									<img src="http://creativethemes.us/helix/images/resources/expert-img4.jpg" alt="expert imgg">
								</div>
							</div>
						</div>
					</div>
					<div class="tab-content2" id="tab-55">
						<div class="row">
							<div class="full-width-sec">
								<div class="half-left">
									<div class="expert-details">
										<h3>Angelina Doe</h3>
										<span>Projects Manager</span>
										<p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</p>
										<ul class="social-links">
											<li><a href="#" title=""><span class="icon-facebook"></span></a></li>
											<li><a href="#" title=""><span class="icon-googleplus"></span></a></li>
											<li><a href="#" title=""><span class="icon-linkedin"></span></a></li>
											<li><a href="#" title=""><span class="icon-twitter"></span></a></li>
											<li><a href="#" title=""><span class="icon-tumblr"></span></a></li>
										</ul>
										<a href="#" title="">Read More</a>
									</div>
								</div>
								<div class="half-right">
									<img src="http://creativethemes.us/helix/images/resources/expert-img5.jpg" alt="expert imgg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> -->



			<section class="testimonials pd">
				<div class="container">
					<div class="heading">
						<h2>What People Say About Us</h2>
					</div><!--heading end-->
					<div class="client-say">
						<div class="testimonial-carousel owl-theme">
							<div class="item">
								<div class="comment">
									<span class=""><i class="fa fa-quote-right" aria-hidden="true"></i>
 </span>
									<p>From the moment they started our project they were committed to every aspect and fulfilled all the criteria we had asked for</p>
								</div>
								<div class="user-info">
									<h3>Dhaval Ganatra</h3>
									<span>security.in</span>
								</div>
							</div><!--item end-->
							<div class="item">
								<div class="comment">
									<span class=""><i class="fa fa-quote-right" aria-hidden="true"></i>
 </span>
									<p>Thank you for getting our website done superbly at such short notice. And that to the way we wanted and they have patiently worked with us.</p>
								</div>
								<div class="user-info">
									<h3>Devangana Vyas </h3>
									<span>amrawat.com/</span>
								</div>
							</div><!--item end-->
							<div class="item">
								<div class="comment">
									<span class=""><i class="fa fa-quote-right" aria-hidden="true"></i>
 </span>
									<p>They had not even thought about it. However  after my approach for making a software for my food joint they agreed. Very flexible and met all my timelines. </p>
								</div>
								<div class="user-info">
									<h3>Kaushik Thakthani </h3>
									<span>WhattheFreeze.com</span>
								</div>
							</div><!--item end-->
						</div>
					</div><!--client say end-->
					<!-- <div class="partner-logos">
						<div class="row">
							<ul>
								<li class="col-md-2 pt-logo"><a href="#" title=""><img src="http://creativethemes.us/helix/images/resources/partner-logo1.png" alt="partner logo"></a></li>
								<li class="col-md-2 pt-logo"><a href="#" title=""><img src="http://creativethemes.us/helix/images/resources/partner-logo2.png" alt="partner logo"></a></li>
								<li class="col-md-2 pt-logo"><a href="#" title=""><img src="http://creativethemes.us/helix/images/resources/partner-logo3.png" alt="partner logo"></a></li>
								<li class="col-md-2 pt-logo"><a href="#" title=""><img src="http://creativethemes.us/helix/images/resources/partner-logo4.png" alt="partner logo"></a></li>
								<li class="col-md-2 pt-logo"><a href="#" title=""><img src="http://creativethemes.us/helix/images/resources/partner-logo5.png" alt="partner logo"></a></li>
								<li class="col-md-2 pt-logo"><a href="#" title=""><img src="http://creativethemes.us/helix/images/resources/partner-logo6.png" alt="partner logo"></a></li>
							</ul>
						</div>
					</div> --><!--partner-logos end-->
				</div>
			</section><!--testimonails end-->

			<!-- <section class="our-map">
				<div id="map"></div>
			</section> --><!--our map end-->

			</div><!--content end-->

			<footer>
				<section class="top-footer pd" id="contactt">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<div class="heading ta-left">
									<h2>Contact Us</h2>
								</div>
								<div class="contact-form">
									<%= form_for(@contact) do |f| %>
									<div class="col-md-12">
										<div class="form-group">
									  		<%= f.text_field :name , placeholder: "Name" %>	
									  	</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
									  		<%= f.text_field :email, placeholder: "Email" %>
									  	</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
									  		<%= f.text_field :phone, placeholder: "Phone " %>
									  	</div>
									</div>

									<div class="col-md-12">
										<div class="form-group">
	  									  <%= f.text_area :message,placeholder: "Message" %>
	  									</div>
  									</div>

									<div class="actions">
									    <%= f.submit %>
									</div>
									<% end %>
								</div><!--contact form end-->
							</div>
							<div class="col-md-4 pd-left">
								<div class="heading ta-left">
									<h2>Information</h2>
								</div><!--heading end-->
								<ul class="contact-info">
									<li>
										<span class="icon-phone"><i class="fa fa-phone" aria-hidden="true"></i>
</span>
										<div class="info">
											<h3>Phone</h3>
											<h5>+91 8015106497</h5>
											<h5>+91 9108163731
											</h5>
										</div>
									</li>
									<li>
										<span class="icon-envelope"><i class="fa fa-envelope-o" aria-hidden="true"></i>
</span>
										<div class="info">
											<h3>E-Mail</h3>
											<h5>support@zadp.com</h5>
											<h5>hello@zadp.com</h5>
										</div>
									</li>
									<li>
										<span class="icon-map-pin"><i class="fa fa-map-pin" aria-hidden="true"></i>
</span>
										<div class="info">
											<h3>Address</h3>
											<h5 class="addd">ZadP Solutions Private Limited,
ZadP Labs, 269, Nobel Residency, 5th Cross, 
Bengaluru, Karnataka - 560076 
India</h5>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<section class="bottom-footer">
					<div class="container">
						<div class="copyright">
							<p>Copyright 2017 ZADP SOLUTION PVT. LTD. © All rights are reserved.</p>
						</div><!--copyright end-->
						<ul class="ft-social-links">
							<li><a href="https://www.facebook.com/shopknekt/"><span class="icon-facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i>
</span></a></li>
							<li><a href="#"><span class="icon-twitter"><i class="fa fa-twitter" aria-hidden="true"></i>
</span></a></li>
							<li><a href="https://www.youtube.com/watch?v=TxMD7rOD83E&t=32s"><span class="icon-googleplus"><i class="fa fa-youtube" aria-hidden="true"></i>

</span></a></li>
							<li><a href="#"><span class="icon-dribbble"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
</span></a></li>

						</ul>
					</div>
				</section>
			</footer>



	<script>
	$('.testimonial-carousel').owlCarousel({
    animateOut: 'fadeOut',
    animateIn: 'fadeIn',
    loop:true,
    margin:10,
    nav:false,
    autoplay:true,
    smartSpeed: 1000,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
});
</script>